<!DOCTYPE html>
<html>
<head>
  <title>Toy Robot Simulator - Result</title>
</head>
<body>
  <h1>Toy Robot Simulator - Result</h1>
  <p>Report: <%= @report %></p>
  <a href="/">Back</a>
</body>
</html>
